<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] 深圳麦斯迪埃高科技有限公司</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
