
@{
    ViewData["Title"] = "排水管线管理及隐患调查GIS系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/css/site.min.css" rel="stylesheet">
    <link href="~/css/toastr/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/js/layui/css/layui.css" media="all">
    <link href="~/css/showmap.css" rel="stylesheet">
    <link href="~/js/cesium/Widgets/widgets.css" rel="stylesheet">
}
<div id="naviMain">
    <div id="idt_log">
        @*<img src="~/img/Logo_MSDI.png" />
        <div id="site-identity">
            <a href="https://msdi.ltd/" title="">
                <h1 class="entry-title">
                    排水管线管理及隐患调查GIS系统
                </h1>
            </a>
            <strong>
                GIS system of drainage pipeline management and hidden danger investigation
            </strong>
        </div>*@
    </div>
    <div id="naviCenter">
        @*layui-bg-blue*@
        <ul class="layui-nav layui-bg-blue">
            <li class="layui-nav-item">
                <a href="">控制台</a>
            </li>
            <li class="layui-nav-item">
                <a href="">资源管理</a>
            </li>
            <li class="layui-nav-item">
                <a href="">隐患上报</a>
            </li>
            <li class="layui-nav-item">
                <a href="">隐患警告<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">公告消息<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">个人中心<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item">
                <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                    <dd><a href="javascript:;">退了</a></dd>
                </dl>
            </li>
        </ul>

    </div>
</div>
<!-- 地图 -->
<div id="map">
    <img id="control" src="~/img/-ioc.png" />
    <!-- 菜单 -->
    <div id="menu">
        <div class="hc_lnav jslist">
            <div class="allbtn">
                <ul style="width:100px" class="jspop box">
                    <li class=a1>
                        <div class=tx>
                            <a href="#">
                                <div class="menu_i"><i class="layui-icon layui-icon-templeate-1"></i></div>
                                <div class="menu_span">GIS管线管理</div>
                            </a>
                        </div>
                        <div class=pop>
                            <h3><a href="#">各地名优茶</a></h3>
                            <dl>
                                <dl>
                                    <dt>绿茶</dt>
                                    <dd>
                                        <a class="ui-link" href="#">西湖龙井</a>
                                        <a class="ui-link" href="#">龙井</a>
                                        <a class="ui-link" href="#">黄山毛峰</a>
                                        <a class="ui-link" href="#">安吉白茶</a>
                                        <a class="ui-link" href="#">其他绿茶</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>乌龙茶</dt>
                                    <dd>
                                        <a class="ui-link" href="">铁观音</a>
                                        <a class="ui-link" href="">大红袍</a>
                                        <a class="ui-link" href="">水仙</a>
                                        <a class="ui-link" href="">肉桂</a>
                                        <a class="ui-link" href="">台湾乌龙</a>
                                        <a class="ui-link" href="">其他乌龙茶</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>红茶</dt>
                                    <dd>
                                        <a class="ui-link" href="">金骏眉</a>
                                        <a class="ui-link" href="">正山小种</a>
                                        <a class="ui-link" href="">祁门红茶</a>
                                        <a class="ui-link" href="">坦洋工夫</a>
                                        <a class="ui-link" href="javascript:;">其他红茶</a>
                                        <a class="un ui-link" href="">政和工夫</a>
                                        <a class="ui-link" href="">滇红工夫</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>黑茶</dt>
                                    <dd>
                                        <a class="ui-link" href="">白沙溪黑茶</a>
                                        <a class="ui-link" href="">普洱茶饼</a>
                                        <a class="ui-link" href="">普洱沱茶</a>
                                        <a class="ui-link" href="">普洱茶砖</a>
                                        <a class="ui-link" href="">普洱散茶</a>
                                        <a class="ui-link" href="">其他黑茶</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>白茶</dt>
                                    <dd>
                                        <a class="ui-link" href="#">白牡丹</a>
                                        <a class="ui-link" href="">白毫银针</a>
                                        <a class="ui-link" href="">寿眉</a>
                                        <a class="ui-link" href="">其他白茶</a>
                                    </dd>
                                </dl>
                            </dl>
                            <dl>
                                <dt>品牌</dt>
                                <dd>
                                    <a href="">滋恩</a>
                                    <a href="">远荣</a>
                                    <a href="">顶峰</a>
                                    <a href="">公泰</a>
                                    <a href="">一品堂</a>
                                    <a href="">好吉</a>
                                    <a href="">绿雪芽</a>
                                    <a href="">台湾梅山制茶</a>
                                    <a href="">白沙溪</a>
                                    <a href="">联兴茶叶</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>价格</dt>
                                <dd>
                                    <a href="">100元及以下</a>
                                    <a href="">100-300元</a>
                                    <a href="">300元及以上</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>净含量</dt>
                                <dd>
                                    <a href="">50g及以下</a>
                                    <a href="">51-100g</a>
                                    <a href="">101-250g</a>
                                    <a href="">250g以上</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>包装</dt>
                                <dd>
                                    <a href="">经济自饮装</a>
                                    <a href="">精美礼品装</a>
                                </dd>
                            </dl>
                            <div class=clr></div>
                        </div>
                    </li>
                    <li class=a2>
                        <div class=tx><a href=""><div class="menu_i"><i class="layui-icon layui-icon-survey"></i></div><div class="menu_span">排水管线隐患</div></a> </div>
                        <div class=pop>
                            <h3><a href="">花草保健茶</a></h3>
                            <dl>
                                <dl>
                                    <dt>瘦身</dt>
                                    <dd>
                                        <a class="ui-link" href="">玫瑰荷叶茶</a>
                                        <a class="ui-link" href="">玄米茶</a>
                                        <a class="ui-link" href="">兰香子</a>
                                        <a class="ui-link" href="">纤维泡腾片</a>
                                        <a class="ui-link" href="">青梅苹果酸</a>
                                        <a class="ui-link" href="">三草茶</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>美容</dt>
                                    <dd>
                                        <a class="ui-link" href="">法兰西玫瑰</a>
                                        <a class="ui-link" href="">冻干柠檬片</a>
                                        <a class="un ui-link" href="">果粒茶</a>
                                        <a class="ui-link" href="">大麦茶</a>
                                        <a class="ui-link" href="">蜂蜜抹茶粉</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>丰胸</dt>
                                    <dd>
                                        <a class="ui-link" href="">木瓜葛根粉</a>
                                        <a class="ui-link" href="">蜂蜜木瓜粉</a>
                                        <a class="ui-link" href="">红酒木瓜丽人饮</a>
                                    </dd>
                                </dl>
                            </dl>
                            <dl>
                                <dt>品牌</dt>
                                <dd>
                                    <a href="">与花香</a>
                                    <a href="">美丽快攻</a>
                                    <a href="">顶峰</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>价格</dt>
                                <dd>
                                    <a href="">100元及以下</a>
                                    <a href="">100-300元</a>
                                    <a href="">300元及以上</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>净含量</dt>
                                <dd>
                                    <a href="">50g及以下</a>
                                    <a href="">51-100g</a>
                                    <a href="">101-250g</a>
                                    <a href="">250g以上</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>包装</dt>
                                <dd>
                                    <a href="">经济自饮装</a>
                                    <a href="">精美礼品装</a>
                                </dd>
                            </dl>
                            <div class=clr></div>
                        </div>
                    </li>
                    <li class=a3>
                        <div class=tx><a href=""><div class="menu_i"><i class="layui-icon layui-icon-chart-screen"></i></div><div class="menu_span">数据报表</div></a> </div>
                        <div class=pop>
                            <h3><a href="">精选茶具</a></h3>
                            <dl>
                                <dl>
                                    <dt>陶瓷</dt>
                                    <dd>
                                        <a class="ui-link" href="">茶叶罐</a>
                                        <a class="ui-link" href="">功夫茶具</a>
                                        <a class="ui-link" href="">茶壶</a>
                                        <a class="ui-link" href="">茶宠</a>
                                        <a class="ui-link" href="">茶杯</a>
                                        <a class="ui-link" href="">茶具礼盒</a>
                                    </dd>
                                </dl>
                            </dl>
                            <dl>
                                <dt>品牌</dt>
                                <dd>
                                    <a href="">恒越</a>
                                    <a href="">卓越</a>
                                    <a href="">国尊陶瓷</a>
                                    <a href="">宏远达</a>
                                    <a href="">福万利</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>价格</dt>
                                <dd>
                                    <a href="">100元及以下</a>
                                    <a href="">100-300元</a>
                                    <a href="">300元及以上</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>包装</dt>
                                <dd>
                                    <a href="">经济自饮装</a>
                                    <a href="">精美礼品装</a>
                                </dd>
                            </dl>
                            <div class=clr></div>
                        </div>
                    </li>
                    <li class=a4>
                        <div class=tx>
                            <a href="">
                                <div class="menu_i"><i class="layui-icon layui-icon-set"></i></div>
                                <div class="menu_span">系统设置</div>
                            </a>
                        </div>
                        <div class=pop>
                            <h3><a href="">可口茶食</a></h3>
                            <dl>
                                <dl>
                                    <dt>干果</dt>
                                    <dd>
                                        <a class="ui-link" href="">杏仁</a>
                                        <a class="ui-link" href="">瓜子</a>
                                        <a class="un ui-link" href="">开心果</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>零食</dt>
                                    <dd>
                                        <a class="ui-link" href="">水晶柠檬片</a>
                                        <a class="ui-link" href="">方块酥</a>
                                        <a class="ui-link" href="javascript:;">凤梨酥</a>
                                        <a class="ui-link" href="">燕麦巧克力</a>
                                    </dd>
                                </dl>
                            </dl>
                            <dl>
                                <dt>品牌</dt>
                                <dd>
                                    <a href="">赛园</a>
                                    <a href="">新味</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>价格</dt>
                                <dd>
                                    <a href="">100元及以下</a>
                                    <a href="">100-300元</a>
                                    <a href="">300元及以上</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>净含量</dt>
                                <dd>
                                    <a href="">50g及以下</a>
                                    <a href="">51-100g</a>
                                    <a href="">101-250g</a>
                                    <a href="">250g以上</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>包装</dt>
                                <dd>
                                    <a href="">经济自饮装</a>
                                    <a href="">精美礼品装</a>
                                </dd>
                            </dl>
                            <div class=clr></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 搜索框 -->
    <div id="left-panel">
        <div id="searchbox" class="clearfix">
            <div id="searchbox-container">
                <div id="sole-searchbox-content" class="searchbox-content">
                    <input id="sole-input" class="searchbox-content-common" type="text" name="word" autocomplete="on" maxlength="256" placeholder="请输入井点编号\管段编号" value="">
                    <div class="input-clear" title="清空" style="display: block;"></div>
                </div>
            </div>
            <button id="search-button" data-title="搜索" data-tooltip="1"></button>
        </div>
    </div>
    <!-- 查询结果 -->
    <div id="result">
        <div id="rTitle"><a>X</a></div>
        <div id="rValue"></div>
    </div>
    <!-- 属性面板 -->
    <div id="property">
        <div id="title">管线属性<a>X</a></div>
        <div id="panel">
            <table>
                <tr>
                    <td class="title" width="25%">属性1：</td>
                    <td class="value" width="75%">XXXXXXXXXX</td>
                </tr>
                <tr>
                    <td class="title">属性1：</td>
                    <td class="value">XXXXXXXXXX</td>
                </tr>
                <tr>
                    <td class="title">属性1：</td>
                    <td class="value">XXXXXXXXXX</td>
                </tr>
                <tr>
                    <td class="title">属性1：</td>
                    <td class="value">XXXXXXXXXX</td>
                </tr>
                <tr>
                    <td class="title">属性1：</td>
                    <td class="value">XXXXXXXXXX</td>
                </tr>
                <tr>
                    <td class="title">属性1：</td>
                    <td class="value">XXXXXXXXXX</td>
                </tr>
                <tr>
                    <td class="title">属性1：</td>
                    <td class="value">XXXXXXXXXX</td>
                </tr>
                <tr>
                    <td class="title">属性1：</td>
                    <td class="value">XXXXXXXXXX</td>
                </tr>
                <tr>
                    <td class="title">属性1：</td>
                    <td class="value">XXXXXXXXXX</td>
                </tr>
                <tr>
                    <td class="title">属性1：</td>
                    <td class="value">XXXXXXXXXX</td>
                </tr>
            </table>
            <div id="imgs">相关图片：</div>
            <img src="/image/map/item.png">
        </div>
    </div>
    <div id="localtion">当前坐标：x=<span id="lng"></span>，y=<span id="lat"></span>，h=<span id="heght"></span></div>
</div>
@section Scripts{
    <!-- 全局js -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Toastr script -->
    <script src="~/js/toastr/toastr.min.js"></script>
    <!-- layer -->
    <script src="~/js/layui/layui.all.js"></script>
    <!-- layer -->
    <script src="~/js/showmap.js"></script>
    <!-- cesuum -->
    <script src="~/js/cesium/Cesium.js?v=1"></script>
    <!-- 公共 -->
    <script src="~/js/public.js" async defer></script>
    <!-- 异步加载 -->
    <script src="~/js/content.js" async defer></script>
    <!-- 上传插件 -->
    <script src="~/js/ajaxfileupload.js" async defer></script>


    <script>
        var viewer;
        var scene;
        let globe;
        let canvas;
        let ellipsoid;
        $(function () {
            viewer = new Cesium.Viewer("map", {
                animation: false, //是否显示动画控件
                baseLayerPicker: true, //是否显示图层选择控件
                geocoder: true, //是否显示地名查找控件
                timeline: false, //是否显示时间线控件
                sceneModePicker: true, //是否显示投影方式控件
                navigationHelpButton: true, //是否显示帮助信息控件
                infoBox: true, //是否显示点击要素之后显示的信息
                imageryProvider: new Cesium.MapboxImageryProvider(
                    {
                        mapId: "mapbox.satellite",
                    })
            });
            viewer._cesiumWidget._creditContainer.style.display = "none";//地图地下的logo

            //定义
            scene = viewer.scene;
            globe = scene.globe;
            canvas = viewer.scene.canvas;
            ellipsoid = viewer.scene.globe.ellipsoid;

        });
    </script>
}

