
@{
    ViewData["Title"] = "排水管线管理及隐患调查GIS系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/css/toastr/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/js/layui/css/layui.css" media="all">
    <link href="~/css/showmap.css" rel="stylesheet">
    <link href="~/js/cesium/Widgets/widgets.css" rel="stylesheet">
    <style>
        .layui-form-label {
            width: 122px;
        }
    </style>
}
<div id="naviMain">
    <div id="idt_log">
        @*<img src="~/img/Logo_MSDI.png" />
            <div id="site-identity">
                <a href="https://msdi.ltd/" title="">
                    <h1 class="entry-title">
                        排水管线管理及隐患调查GIS系统
                    </h1>
                </a>
                <strong>
                    GIS system of drainage pipeline management and hidden danger investigation
                </strong>
            </div>*@
    </div>
    <div id="naviCenter">
        @*layui-bg-blue*@
        <ul class="layui-nav layui-bg-blue">
            <li class="layui-nav-item">
                <a href="javascript:void(0);">城市切换</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:void(0);" onclick="citySwitching('gd_fs');">佛山</a></dd>
                    <dd><a href="javascript:void(0);" onclick="citySwitching('gd_sz_gm');">深圳</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0);">控制台</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0);">任务安排</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0);" onclick="showBox('管段添加', '/pipeHole/editPipeHole?action=add', ['1100px', '700px']);">隐患上报</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0);">隐患警告<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0);">公告消息<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0);">个人中心<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0);"><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                    <dd><a href="javascript:;">退出</a></dd>
                </dl>
            </li>
        </ul>

    </div>
</div>
<!-- 地图 -->
<div class="map_main" id="map_main">
    <!-- 二维 -->
    <div id="bdmap">

    </div>
    <!-- 三维 -->
    <div id="map">

    </div>
    <img id="control" src="~/img/-ioc.png" />
    <!-- 菜单 -->
    <div id="menu">
        <div class="hc_lnav jslist">
            <div class="allbtn">
                <ul class="jspop box">
                    <li class="a1">
                        <div class="tx">
                            <a href="#">
                                <div class="menu_i" title="图层显示"><i class="layui-icon layui-icon-templeate-1"></i></div>
                                <div class="menu_span">图层显示</div>
                            </a>
                        </div>
                        <div class=pop>
                            <h3><a href="#">图层显示</a></h3>
                            <dl>
                                <dl>
                                    <dt>管道数据</dt>
                                    <dd>
                                        <form class="layui-form" action="">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">管段</label>
                                                    <div class="layui-input-block">
                                                        <input type="checkbox" name="" title="隐藏" lay-skin="primary" lay-filter="lineShow">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">管点</label>
                                                    <div class="layui-input-block">
                                                        <input type="checkbox" name="" title="隐藏" lay-skin="primary" lay-filter="hoelShow">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">CCTV按等级显示</label>
                                                    <div class="layui-input-block">
                                                        <input type="checkbox" name="CCTVShow" title="显示" lay-skin="primary"  lay-filter="CCTVShow">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">管径</label>
                                                    <div class="layui-input-block">
                                                        <input type="checkbox" name="" title="显示" lay-skin="primary" lay-filter="psizeShow">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>流向与隐患</dt>
                                    <dd>
                                        <form class="layui-form" action="">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">流向</label>
                                                    <div class="layui-input-block">
                                                        <input type="checkbox" name="" title="隐藏" lay-skin="primary" lay-filter="flowShow">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">隐患</label>
                                                    <div class="layui-input-block">
                                                        <input type="checkbox" name="" title="隐藏" lay-skin="primary" lay-filter="yhShow">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>其他</dt>
                                    <dd>
                                        <form class="layui-form" action="">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">地球</label>
                                                    <div class="layui-input-block">
                                                        <input type="checkbox" name="" title="隐藏" lay-skin="primary" lay-filter="exShow">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">建筑白膜</label>
                                                    <div class="layui-input-block">
                                                        <input type="checkbox" name="" title="隐藏" lay-skin="primary" lay-filter="buildShow">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </dd>
                                </dl>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <li class="a2">
                        <div class="tx">
                            <a href="#">
                                <div class="menu_i"><i class="layui-icon layui-icon-templeate-1"></i></div>
                                <div class="menu_span">GIS管线管理</div>
                            </a>
                        </div>
                        <div class="pop">
                            <h3><a href="#">GIS管线管理</a></h3>
                            <dl>
                                <dl>
                                    <dt>导入</dt>
                                    <dd>
                                        <form class="layui-form" action="">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">导入井点</label>
                                                <div class="layui-input-block">
                                                    <input type="file" name="file" id="fileUploadHole" style="display: none" />
                                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" onclick="importHoles_bnt()">导入井点</button>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">导入管段</label>
                                                <div class="layui-input-inline">
                                                    <input type="file" name="file" id="fileUploadLine" style="display: none" />
                                                    <button type="button" class="layui-btn layui-btn-sm  layui-btn-disabled" id="bnt_importLine" onclick="importLine_bnt()">导入管段</button>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">请先将井点导入，后将管段导入</div>
                                            </div>
                                        </form>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>编辑管段</dt>
                                    <dd>
                                        <form class="layui-form" action="">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">手动新增</label>
                                                <div class="layui-input-block">
                                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" onclick="showBox('管段', '/pipeHole/editPipeHole?action=add', ['1100px', '700px']);">增加</button>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">手动编辑</label>
                                                <div class="layui-input-inline">
                                                    <button type="button" class="layui-btn layui-btn-sm" onclick="showBox('管段添加', '/pipeHole/editPipeHole?action=add', ['1100px', '700px']);">编辑</button>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">请先选中地图上要编辑的管段</div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">手动删除</label>
                                                <div class="layui-input-inline">
                                                    <button type="button" class="layui-btn layui-btn-radius layui-btn-disabled">删除</button>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">请先选中地图上要删除的管段</div>
                                            </div>
                                        </form>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>编辑井点</dt>
                                    <dd>
                                        <form class="layui-form" action="">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">手动新增</label>
                                                <div class="layui-input-block">
                                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" onclick="showBox('管段添加', '/pipeHole/editPipeHole?action=add', ['1100px', '700px']);">增加</button>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">手动编辑</label>
                                                <div class="layui-input-inline">
                                                    <button type="button" class="layui-btn layui-btn-sm" onclick="showBox('管段添加', '/pipeHole/editPipeHole?action=add', ['1100px', '700px']);">编辑</button>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">请先选中地图上要编辑的管井</div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">手动删除</label>
                                                <div class="layui-input-inline">
                                                    <button type="button" class="layui-btn layui-btn-radius layui-btn-disabled">删除</button>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">请先选中地图上要删除的管井</div>
                                            </div>
                                        </form>
                                    </dd>
                                </dl>
                            </dl>
                            <div class=clr></div>
                        </div>
                    </li>
                    <li class="a3">
                        <div class="tx"><a href=""><div class="menu_i"><i class="layui-icon layui-icon-survey"></i></div><div class="menu_span">排水管线隐患</div></a> </div>
                        <div class="pop">
                            <dl>
                                <dl>
                                    <dt>管隐患</dt>
                                    <dd>
                                        <form class="layui-form" action="">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">手动新增</label>
                                                <div class="layui-input-block">
                                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" onclick="showBox('隐患添加', '/pipeHole/editPipeHole?action=add', ['1100px', '700px']);">增加</button>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">手动编辑</label>
                                                <div class="layui-input-inline">
                                                    <button type="button" class="layui-btn layui-btn-sm" onclick="showBox('隐患编辑', '/pipeHole/editPipeHole?action=add', ['1100px', '700px']);">编辑</button>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">请先选中地图上要编辑的管段隐患</div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">手动删除</label>
                                                <div class="layui-input-inline">
                                                    <button type="button" class="layui-btn layui-btn-radius layui-btn-disabled">删除</button>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">请先选中地图上要删除的管段隐患</div>
                                            </div>
                                        </form>
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>井隐患</dt>
                                    <dd>
                                        <form class="layui-form" action="">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">手动新增</label>
                                                <div class="layui-input-block">
                                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" onclick="showBox('隐患添加', '/pipeHole/editPipeHole?action=add', ['1100px', '700px']);">增加</button>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">手动编辑</label>
                                                <div class="layui-input-inline">
                                                    <button type="button" class="layui-btn layui-btn-sm" onclick="showBox('隐患编辑', '/pipeHole/editPipeHole?action=add', ['1100px', '700px']);">编辑</button>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">请先选中地图上要编辑的管井隐患</div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">手动删除</label>
                                                <div class="layui-input-inline">
                                                    <button type="button" class="layui-btn layui-btn-radius layui-btn-disabled">删除</button>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">请先选中地图上要删除的管井隐患</div>
                                            </div>
                                        </form>
                                    </dd>
                                </dl>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <li class="a4">
                        <div class="tx"><a href=""><div class="menu_i"><i class="layui-icon layui-icon-chart-screen"></i></div><div class="menu_span">数据报表</div></a> </div>
                        <div class=pop>
                            <dl>
                                <dl>
                                    <dt>隐患统计</dt>
                                    <dd>
                                        <form class="layui-form" action="">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">隐患井统计</label>
                                                <div class="layui-input-block">
                                                    <input type="file" name="file" style="display: none" />
                                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" onclick="importHoles_bnt()">一键统计</button>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">隐患管段统计</label>
                                                <div class="layui-input-inline">
                                                    <input type="file" name="file" id="fileUploadLine" style="display: none" />
                                                    <button type="button" class="layui-btn layui-btn-sm  layui-btn-disabled" id="bnt_importLine" onclick="importLine_bnt()">一键统计</button>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">隐患统计时间较长，请耐心等待</div>
                                            </div>
                                        </form>
                                    </dd>
                                </dl>
                            </dl>
                            <dl>
                                <dt>管道数据统计</dt>
                                <dd>
                                    <form class="layui-form" action="">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">管井统计</label>
                                            <div class="layui-input-block">
                                                <input type="file" name="file" style="display: none" />
                                                <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" onclick="importHoles_bnt()">一键统计</button>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">管段统计</label>
                                            <div class="layui-input-inline">
                                                <input type="file" name="file" id="fileUploadLine" style="display: none" />
                                                <button type="button" class="layui-btn layui-btn-sm  layui-btn-disabled" id="bnt_importLine" onclick="importLine_bnt()">一键统计</button>
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">数据统计时间较长，请耐心等待</div>
                                        </div>
                                    </form>
                                </dd>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <li class="a5">
                        <div class=tx>
                            <a href="">
                                <div class="menu_i"><i class="layui-icon layui-icon-set"></i></div>
                                <div class="menu_span">系统设置</div>
                            </a>
                        </div>
                        <div class="pop">
                            <dl>
                                <dl>
                                    <dt>开发接口</dt>
                                    <dd>
                                        <form class="layui-form" action="">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">管井接口</label>
                                                <div class="layui-input-block">
                                                    <input type="file" name="file" style="display: none" />
                                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" onclick="importHoles_bnt()">一键开放</button>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">管段接口</label>
                                                <div class="layui-input-inline">
                                                    <input type="file" name="file" style="display: none" />
                                                    <button type="button" class="layui-btn layui-btn-sm  layui-btn-disabled" id="bnt_importLine" onclick="importLine_bnt()">一键开放</button>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">开放时间较长，请耐心等待</div>
                                            </div>
                                        </form>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>安全设置</dt>
                                    <dd>
                                        <form class="layui-form" action="">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">开放端口控制</label>
                                                <div class="layui-input-block">
                                                    <input type="file" name="file" style="display: none" />
                                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" onclick="importHoles_bnt()">开放端口列表</button>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">数据库备份</label>
                                                <div class="layui-input-inline">
                                                    <input type="file" name="file" style="display: none" />
                                                    <button type="button" class="layui-btn layui-btn-sm  layui-btn-disabled" id="bnt_importLine" onclick="importLine_bnt()">备份</button>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">备份时间较长，请耐心等待</div>
                                            </div>
                                        </form>
                                    </dd>
                                </dl>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 搜索框 -->
    <div id="left-panel">
        <div id="searchbox" class="clearfix">
            <div id="searchbox-container">
                <div id="sole-searchbox-content" class="searchbox-content">
                    <input id="sole-input" class="searchbox-content-common" type="text" name="word" autocomplete="on" maxlength="256" placeholder="请输入井点编号\管段编号" value="">
                    <div class="input-clear" title="清空" style="display: block;" onclick="kwColse()"></div>
                </div>
            </div>
            <button id="search-button" data-title="搜索" data-tooltip="1" onclick="searchKW()"></button>
        </div>
    </div>
    <!-- 查询结果 -->
    <div id="result">
        <div id="rTitle"><a>X</a></div>
        <div id="rValue"></div>
    </div>
    <!-- 属性面板 -->
    <div id="property">
        <div id="title">管线属性<a>X</a></div>
        <div id="panel">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">基本信息</li>
                    <li>隐患信息</li>
                    <li id="syinfoTab" style="display:none;">溯源分析</li>
                    <li id="flowTOinfoTab" style="display:none;">流向分析</li>
                    <li id="cctvInfoTab" style="display:none;">CCTV信息</li>
                </ul>
                <div class="layui-tab-content" style="max-height:634px;overflow-y:scroll;">
                    <div class="layui-tab-item layui-show">
                        <table id="InfoTab1">
                            <tr>
                                <td class="title" width="20%"></td>
                                <td class="value" width="80%"></td>
                            </tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                            <tr><td class="title"></td><td class="value"></td></tr>
                        </table>
                    </div>
                    <div class="layui-tab-item">
                        <table id="InfoTab2"></table>
                    </div>
                    <div class="layui-tab-item" id="syinfoDIV">
                        <div class="layui-card">
                            <div class="layui-card-header">统计分析</div>
                            <div class="layui-card-body">
                                <div id="wyTechat" class="echatcss">

                                </div>
                                <div id="wyTechat_msg">

                                </div>
                                <div id="frTechat" class="echatcss">

                                </div>
                                <div id="wyTechat_msg">

                                </div>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">详细信息分析（来源经过的管段）<input type="checkbox" name="syLineckbox" id="syLineckbox" data-line="WS"> <label class="map23Toolbar_span" for="syLineckbox">显示</label> </div>
                            <div class="layui-card-body">
                                <table class="layui-table" lay-skin="line">
                                    <colgroup>
                                        <col width="150">
                                        <col width="100">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>管段编号</th>
                                            <th>管径</th>
                                            <th>是否起始管段</th>
                                        </tr>
                                    </thead>
                                    <tbody id="syBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item" id="flowTOinfoDIV">
                        <div class="layui-card">
                            <div class="layui-card-header">统计分析</div>
                            <div class="layui-card-body">
                                <div id="wyFechat" class="echatcss">

                                </div>
                                <div id="wyFechat_msg">

                                </div>
                                <div id="frFechat" class="echatcss">

                                </div>
                                <div id="wyFechat_msg">

                                </div>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">详细信息分析（流向经过的管段）<input type="checkbox" name="ftLineckbox" id="ftLineckbox" data-line="WS"> <label class="map23Toolbar_span" for="ftLineckbox">显示</label></div>
                            <div class="layui-card-body">
                                <table class="layui-table" lay-skin="line">
                                    <colgroup>
                                        <col width="150">
                                        <col width="100">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>管段编号</th>
                                            <th>管径</th>
                                            <th>是否终止管段</th>
                                        </tr>
                                    </thead>
                                    <tbody id="FlowToBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item" id="cctvinfdiv">
                        <div class="layui-collapse">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">2018年11月15日CCTV资料</h2>
                                <div class="layui-colla-content layui-show" id="cctvInfo">

                                </div>
                            </div>
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">2016年8月15日CCTV资料</h2>
                                <div class="layui-colla-content">
                                    CCTV数据已导出
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div id="imgs">相关图片：</div>
            <img src="/image/map/item.png">
             -->
        </div>
    </div>
    <div id="localtion">当前坐标：经度：<span id="lng"></span>，纬度：<span id="lat"></span>，高度：<span id="heght"></span></div>
    <!-- 二三维切换 -->
    <div class="map23Toolbar">
        <div class="map23Toolbar_main" style="">
            <div class="map23Toolbar_main_23d"><input type="checkbox" name="qhckbox" id="qhckbox"><label class="map23Toolbar_span" for="qhckbox">二三维切换</label></div>
            <div class="map23Toolbar_main_qh"><input type="checkbox" name="plckbox" id="plckbox"><label class="map23Toolbar_span" for="plckbox">并列</label></div>
        </div>
    </div>
    <!-- 作图菜单 -->
    <div class="PathInner" id="PathMenu">
        <div class="PathMain">
            <div class="Tmain" onclick="PathRun();">
                <div class="rotate"><span class="cover"></span></div>
            </div>
        </div>
        <div class="PathItem">
            <a class="link" href="javascript:layer.tips('当前状态下不可测面', '当前状态下不可测面', {tips: [1, '#3595CC'],time: 4000});" title="测量面积">
                <span class="item" style="background-image:url(/img/ms_area.png);"></span>
            </a>
        </div>
        <div class="PathItem">
            <a class="link" href="javascript:void(0);" title="上报隐患,双击取消" onclick="reAddDange()">
                <span class="item" style="background-image:url(/img/selveos.png);"></span>
            </a>
        </div>
        <div class="PathItem">
            <a class="link" href="javascript:void(0);" title="复位" onclick="initCesium()">
                <span class="item" style="background-image: url(/img/moment_icn_address.png);"></span>
            </a>
        </div>
        <div class="PathItem">
            <a class="link" href="javascript:layer.tips('当前状态下不可测距', '当前状态下不可测距', {tips: [1, '#3595CC'],time: 4000});" title="测距">
                <span class="item" style="background-image: url(/img/ms_dis.png);"></span>
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <!-- 全局js -->
    <script src="~/js/jquery.min.js"></script>
    <!-- cookiesjs -->
    <script src="~/js/jquery.cookie.js"></script>
    <!-- Toastr script -->
    <script src="~/js/toastr/toastr.min.js"></script>
    <!-- layer -->
    <script src="~/js/layui/layui.all.js"></script>
    <!-- cesuum -->
    <script src="~/js/cesium/Cesium.js?v=1"></script>
    <!-- showmap -->
    <script src="~/js/showmap.js"></script>
    <!---百度二维地图 -->
    <script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=bhb1z8SEID2CyM1HGyG2Pis9DQmY6G0H"></script>

    <!-- 异步加载 -->
    <script src="~/js/ajaxfileupload.js" async defer></script>
    <!-- public -->
    <script src="~/js/public.js" async defer></script>
    <!-- 异步加载 -->
    <script src="~/js/content.js" async defer></script>
    <!-- 异步加载 -->
    <script src="~/js/lanrenzhijia.js" async defer></script>
    <!-- 异步加载 -->
    <script src="~/js/bdMap.js" async defer></script>
    <!-- 异步加载 -->
    <script src="~/js/echarts.min.js" async defer></script>
}

