@{
    ViewData["Title"] = ViewBag.areanme + "排水管线管理及隐患调查GIS服务平台";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/css/toastr/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/js/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/css/index.css" />
    <link href="~/js/cesium/Widgets/widgets.css" rel="stylesheet">
    <link href="~/js/openlayer/ol.css" rel="stylesheet">
    <link href="~/css/main-css.css" rel="stylesheet">
    <!-- 全局js -->
    <script src="~/js/jquery.min.js"></script>
}
<!-- 加载 -->
<div id="load">
    <div class="load_img">
        <img class="jzxz1" src="~/img/loading1.png">
        <img class="jzxz2" src="~/img/loading2.png">
    </div>
</div>
<!--顶部-->
<header class="header">
    <div class="left nav">
        <ul>
            <li><i class="nav_1"></i><a href="/home/homeIndex">数据概览</a> </li>
            <li class="nav_active"><i class="nav_3"></i><a href="/home/map">地图界面</a> </li>
            <li><i class="nav_2"></i><a href="/home/cctv">CCTV视频监控</a> </li>
        </ul>
    </div>
    <div class="header_center left">
        <h2><strong>@(ViewBag.areanme)排水管线管理及隐患调查GIS服务平台</strong></h2>
        <p class="color_font"><small>Drainage pipeline management and hidden danger investigation GIS service platform</small></p>
    </div>
    <div class="right nav text_right">
        <ul>
            <li><i class="nav_9"></i><a href="javascript:void(0);" onclick="showBox('任务安排', '/pipeHole/editPipeHole?action=add', ['1100px', '700px']);">任务安排</a> </li>
            <li><i class="nav_4"></i><a href="javascript:void(0);" onclick="showBox('隐患上报', '/HiddenDanger/index?action=add&ty=1&x=0&y=0&name=管隐患&objID=0', ['1100px', '700px']);">信息录入</a> </li>
            <li>
                <i class="nav_8"></i><a href="javascript:void(0);" id="sys-muen">系统设置</a>
                <ul class="msdi-sys-menu-ul" style="display:none;z-index:158;">
                    <li class="msdi-sys-menu-notifications">
                        <a href="javascript:;">
                            <div class="msdi-menu-notifications-title">
                                <span>修改信息</span>
                            </div>
                        </a>
                    </li>
                    <li class="msdi-sys-menu-notifications">
                        <a href="javascript:;">
                            <div class="msdi-menu-notifications-title">
                                <span>安全管理</span>
                            </div>
                        </a>
                    </li>
                    <li class="msdi-sys-menu-notifications">
                        <a href="javascript:;" onclick="switchcity('gd_sz_gm')">
                            <div class="msdi-menu-notifications-title">
                                <span>深圳数据</span>
                            </div>
                        </a>
                    </li>
                    <li class="msdi-sys-menu-notifications">
                        <a href="javascript:;" onclick="switchcity('gd_fs')">
                            <div class="msdi-menu-notifications-title">
                                <span>佛山数据</span>
                            </div>
                        </a>
                    </li>
                    <li class="msdi-sys-menu-notifications">
                        <a href="javascript:;" onclick="switchcity('gd_sz_sm')">
                            <div class="msdi-menu-notifications-title">
                                <span>深圳市民中心数据</span>
                            </div>
                        </a>
                    </li>
                    <li class="msdi-sys-menu-notifications">
                        <a href="javascript:;">
                            <div class="msdi-menu-notifications-title">
                                <span>退出</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<!-- 地图 -->
<div class="main_conten">
    <div class="map_main" id="map_main">
        <!-- 顶部菜单 -->
        <div class="map_top">
            <form class="layui-form msdi-box-form" id="mapshowform">
                <input type="radio" name="maptype" value="2d" title="二维" lay-skin="primary" lay-filter="mapShow" checked>
                <input type="radio" name="maptype" value="3d" title="三维" lay-skin="primary" lay-filter="mapShow">
                <input type="radio" name="maptype" value="23d" title="二三维并屏" lay-skin="primary" lay-filter="mapShow">
                @*<input type="radio" name="maptype" value="bd" title="百度" lay-skin="primary" lay-filter="mapShow">*@
            </form>
            <ul class="map_box_tool">
                <li class="active" layermst="layerSelect"><i class="layui-icon layui-icon-template-1"></i><a href="javascript:void (0)" class="active">图层选择</a> </li>
                @*<li layermst=""><i class="layui-icon layui-icon-subtraction"></i><a href="javascript:void (0)">缩小</a> </li>
                <li layermst=""><i class="layui-icon layui-icon-addition"></i><a href="javascript:void (0)">放大</a> </li>*@
                <li layermst=""><i class="layui-icon layui-icon-transfer"></i><a href="javascript:void (0)">对比</a> </li>
                <li layermst="layerSearch"><i class="layui-icon layui-icon-search"></i><a href="javascript:void (0)">搜索</a> </li>
                <li layermst="wdlayerTool"><i class="layui-icon layui-icon-util"></i><a href="javascript:void (0)">挖地工具</a> </li>
                <li layermst="fullScreen"><i class="layui-icon layui-icon-screen-full"></i><a href="javascript:void (0)">全屏</a> </li>
            </ul>
        </div>
        <!-- 二维 -->
        <div id="map_geom"></div>
        @*<div id="divid-line" class="divid-line">
        </div>*@
        <!-- 三维 -->
        <div id="map"></div>
        <!-- 百度二维 -->
        <div id="bdmap"></div>
        <!-- 左侧菜单 -->
        <div class="msdi-model-box" id="leftMenuid" layermst="layerSelect">
            <i class="bar"></i>
            <div class="msdi-model-header">
                基本图层管理
                <span class="msdi-model-arrow"></span>
                <span class="msdi-model-close"></span>
            </div>
            <div class="msdi-model-content">
                <div class="msdi-model-content-box">
                    <div class="leftMenuid_select">
                        <div class="leftMenuid_select_top">
                            <i class="layui-icon layui-icon-triangle-d"></i>
                            <span>管线图层</span>
                        </div>
                        <div class="select-chcke layui-form">
                            <p><input type="checkbox" checked lay-skin="primary" id="yslayerms" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_ys.png" />雨水层</label></p>
                            <p><input type="checkbox" checked lay-skin="primary" id="wslayerms" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_ws.png" />污水层</label></p>
                            <p><input type="checkbox" checked lay-skin="primary" id="dllayerms" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_dl.png" />电力层</label></p>
                            <p><input type="checkbox" checked lay-skin="primary" id="jslayerms" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_js.png" />给水层</label></p>
                            <p><input type="checkbox" checked lay-skin="primary" id="rqlayerms" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_rq.png" />燃气层</label></p>
                        </div>
                    </div>
                    <div class="leftMenuid_select">
                        <div class="leftMenuid_select_top">
                            <i class="layui-icon layui-icon-triangle-d"></i>
                            <span>功能图层显示</span>
                        </div>
                        <div class="select-chcke layui-form">
                            <p><input type="checkbox" lay-skin="primary" id="yhlayergn" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_yh1.png" />隐患</label></p>
                            <p><input type="checkbox" lay-skin="primary" id="cctvlayergn" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_cctv1.png" />CCTV等级显示</label></p>
                            <p><input type="checkbox" lay-skin="primary" id="gjlayergn" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_gj.png" />管径</label></p>
                            <p><input type="checkbox" lay-skin="primary" id="lxlayergn" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_lx.png" />流向</label></p>
                        </div>
                    </div>
                    <div class="leftMenuid_select">
                        <div class="leftMenuid_select_top">
                            <i class="layui-icon layui-icon-triangle-d"></i>
                            <span>二维背景</span>
                        </div>
                        <div class="select-chcke layui-form">
                            <p><input type="checkbox" checked lay-skin="primary" id="wxlayerbj" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_wxyx.png" />卫星影像</label></p>
                            <p><input type="checkbox" checked lay-skin="primary" id="dtlayerbj" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_dtpj.png" />地图背景</label></p>
                            <p><input type="checkbox" checked lay-skin="primary" id="bzlayerbj" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_dtbj.png" />地图标注</label></p>
                        </div>
                    </div>
                    <div class="leftMenuid_select">
                        <div class="leftMenuid_select_top">
                            <i class="layui-icon layui-icon-triangle-d"></i>
                            <span>三维背景</span>
                        </div>
                        <div class="select-chcke layui-form">
                            <p><input type="checkbox" checked lay-skin="primary" id="wxlayer3d" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_wxyx.png" />卫星影像</label></p>
                            <p><input type="checkbox" checked lay-skin="primary" id="dtlayer3d" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_dtpj.png" />地图背景</label></p>
                            <p><input type="checkbox" checked lay-skin="primary" id="bzlayer3d" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_dtbj.png" />地图标注</label></p>
                            <p><input type="checkbox" checked lay-skin="primary" id="bmlayer3d" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_jz.png" />建筑</label></p>
                            <p><input type="checkbox" lay-skin="primary" id="dxslayer3d" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_dxms.png" />地下模式</label></p>
                            <p><input type="checkbox" checked lay-skin="primary" id="dqlayer3d" lay-filter="layercheckShow" /><label class="lables_scale"><img class="select-img" src="~/img/ioc_dq.png" />地球</label></p>
                        </div>
                    </div>
                    <div class="msdi-model-content-box-ds"></div>
                </div>
            </div>
        </div> 
        <div class="msdi-model-box" id="wdlayerTool" layermst="wdlayerTool" style="position: absolute;width: 514px;height: 150px;top: 15%;left: 30%;display:none;">
            <i class="bar"></i>
            <div class="msdi-model-header">
                挖地与管线上移工具
                <span class="msdi-model-arrow"></span>
                <span class="msdi-model-close"></span>
            </div>
            <div class="msdi-model-content">
                <div class="msdi-model-content-box">
                    <div class="msdi-input-number-input-wrap"><input value="4" id="wdheight" type="number"  class="msdi-input-number-input"><span>m</span></div>
                    <button type="button" class="bnt-cjro" id="bnt_upheigt">上升</button>
                    <button type="button" class="bnt-cjro bsclear" id="bnt_clearup">恢复默认</button>
                    <button type="button" class="bnt-cjro" id="bnt_wd">模型挖地</button>
                    <button type="button" class="bnt-cjro bsclear" id="bnt_bsclear">清除</button>
                    <div class="bs-text">点击模型挖地，在所要挖地的位置单击选择绘制多边形，鼠标右击结束绘制</div>
                </div>
            </div>
        </div>
        <div class="msdi-model-box" id="layercctv" layermst="layercctv" style="position: absolute; width: 542px; height: 370px; top: 243.188px; left: 289px;display:none;">
            <i class="bar"></i>
            <div class="msdi-model-header">
                CCTV视频播放
                <span class="msdi-model-arrow"></span>
                <span class="msdi-model-close"></span>
            </div>
            <div class="msdi-model-content">
                <div class="msdi-model-content-box">
                    <div id="videoContainer">
                    </div>
                </div>
            </div>
        </div>
        <!-- 搜索框 -->
        <div id="left-panel" style="display:none;">
            <div id="searchbox" class="clearfix">
                <div id="searchbox-container">
                    <div id="sole-searchbox-content" class="searchbox-content">
                        <input id="sole-input" class="searchbox-content-common" type="text" name="word" autocomplete="on" maxlength="256" placeholder="请输入井点编号\管段编号" value="">
                        <div class="input-clear" title="清空" style="display: block;" onclick="kwColse()"></div>
                    </div>
                </div>
                <button id="search-button" data-title="搜索" data-tooltip="1" onclick="searchKW()"></button>
            </div>
        </div>
        <!-- 结果list -->
        <div class="msdi-model-box" id="searchresbox" style="position: absolute;top: 175px; left: 35%;width: 328px;max-height: 600px;display:none;">
            <i class="bar"></i>
            <div class="msdi-model-header">
                搜索结果
                <span class="msdi-model-arrow"></span>
                <span class="msdi-model-close"></span>
            </div>
            <div class="msdi-model-content">
                <div class="msdi-model-content-box">
                    <ul class="search-res-ul" id="search-res-ul">
                    </ul>
                </div>
            </div>
        </div>
        <!-- 底部信息栏 -->
        <div id="localtion">当前坐标：经度：<span id="lng"></span>，纬度：<span id="lat"></span>，高度：<span id="heght"></span></div>
        <!-- 比例尺 -->
        <div id="distanceLegendDiv"><div class="distance-legend" style="right: 18px; bottom: 40px;"><div class="distance-legend-label" id="scaleTxt">2 km</div><div class="distance-legend-scale-bar" style="width: 70px; left: 29px;"></div></div></div>
        <!-- 属性面板  -->
        <div class="msdi-model-box" id="property" style="position: absolute;top: 120px; left: 70%;width: 550px;height: 700px;display:none;">
            <i class="bar"></i>
            <div class="msdi-model-header">
                属性面板
                <span class="msdi-model-arrow"></span>
                <span class="msdi-model-close"></span>
            </div>
            <div class="msdi-model-content">
                <div class="msdi-model-content-box">
                    <div class="layui-tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this" id="infoTab">基本信息</li>
                            <li id="yhinfoTab">隐患信息</li>
                            <li id="syinfoTab" style="display:none;">溯源分析</li>
                            <li id="flowTOinfoTab" style="display:none;">流向分析</li>
                            <li id="cctvInfoTab" style="display:none;">CCTV信息</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show" id="infoDIV">
                                <table id="InfoTab1">
                                </table>
                            </div>
                            <div class="layui-tab-item" id="yhinfoDIV">
                                <table id="InfoTab2"></table>
                            </div>
                            <div class="layui-tab-item" id="syinfoDIV">
                                <div class="layui-card">
                                    <div class="layui-card-header">统计分析</div>
                                    <div class="layui-card-body">
                                        <div id="wyTechat" class="echatcss">
                                        </div>
                                        <div id="wyTechat_msg">
                                        </div>
                                        <div id="frTechat" class="echatcss">
                                        </div>
                                        <div id="wyTechat_msg">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-card">
                                    <div class="layui-card-header layui-form">详细信息分析（来源经过的管段）<input type="checkbox" lay-skin="primary" lay-filter="syLineckbox" name="syLineckbox" id="syLineckbox" data-ids="" data-line="WS" title="显示"></div>
                                    <div class="layui-card-body">
                                        <table class="layui-table" lay-skin="line">
                                            <colgroup>
                                                <col width="150">
                                                <col width="100">
                                                <col>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>管段编号</th>
                                                    <th>管径</th>
                                                    <th>是否起始管段</th>
                                                </tr>
                                            </thead>
                                            <tbody id="syBody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab-item" id="flowTOinfoDIV">
                                <div class="layui-card">
                                    <div class="layui-card-header">统计分析</div>
                                    <div class="layui-card-body">
                                        <div id="wyFechat" class="echatcss">

                                        </div>
                                        <div id="wyFechat_msg">

                                        </div>
                                        <div id="frFechat" class="echatcss">

                                        </div>
                                        <div id="wyFechat_msg">

                                        </div>
                                    </div>
                                </div>
                                <div class="layui-card">
                                    <div class="layui-card-header layui-form">详细信息分析（流向经过的管段）<input type="checkbox" lay-skin="primary" lay-filter="ftLineckbox" name="ftLineckbox" id="ftLineckbox" data-ids="" data-line="WS" title="显示"></div>
                                    <div class="layui-card-body">
                                        <table class="layui-table" lay-skin="line">
                                            <colgroup>
                                                <col width="150">
                                                <col width="100">
                                                <col>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>管段编号</th>
                                                    <th>管径</th>
                                                    <th>是否终止管段</th>
                                                </tr>
                                            </thead>
                                            <tbody id="FlowToBody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab-item" id="cctvinfdiv">
                                <div class="layui-collapse">
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">2018年11月15日CCTV资料</h2>
                                        <div class="layui-colla-content layui-show" id="cctvInfo">

                                        </div>
                                    </div>
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">2016年8月15日CCTV资料</h2>
                                        <div class="layui-colla-content">
                                            CCTV数据已导出
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 作图菜单 -->
        <div class="PathInner" id="PathMenu">
            <div class="PathMain">
                <div class="Tmain" onclick="PathRun();">
                    <div class="rotate"><span class="cover"></span></div>
                </div>
            </div>
            <div class="PathItem">
                <a class="link" href="javascript:layer.tips('当前状态下不可测面', '当前状态下不可测面', {tips: [1, '#3595CC'],time: 4000});" title="测量面积">
                    <span class="item" style="background-image:url(/img/ms_area.png);"></span>
                </a>
            </div>
            <div class="PathItem">
                <a class="link" href="javascript:void(0);" title="上报隐患,双击取消" onclick="reAddDange()">
                    <span class="item" style="background-image:url(/img/selveos.png);"></span>
                </a>
            </div>
            <div class="PathItem">
                <a class="link" href="javascript:void(0);" title="复位" onclick="initlocation()">
                    <span class="item" style="background-image: url(/img/moment_icn_address.png);"></span>
                </a>
            </div>
            <div class="PathItem">
                <a class="link" href="javascript:layer.tips('当前状态下不可测距', '当前状态下不可测距', {tips: [1, '#3595CC'],time: 4000});" title="测距">
                    <span class="item" style="background-image: url(/img/ms_dis.png);"></span>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- openlayer -->
    <script src="~/js/openlayer/ol.js"></script>
    <script src="~/js/openlayer/proj4.js"></script>
    <!-- supervideo -->
    <script src="~/js/superVideo.js" async defer></script>
    <!-- echarts -->
    <script src="~/js/echarts.min.js" async defer></script>
    <!-- cookiesjs -->
    <script src="~/js/jquery.cookie.js"></script>
    <!-- layer -->
    <script src="~/js/layui/layui.all.js"></script>
    <!-- Toastr script -->
    <script src="~/js/toastr/toastr.min.js"></script>
    <!-- cesuum -->
    <script src="~/js/cesium/Cesium.js?v=1"></script>
    <!---百度二维地图 -->
    <script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=bhb1z8SEID2CyM1HGyG2Pis9DQmY6G0H"></script>
    <!-- public -->
    <script src="~/js/public.js"></script>
    <!-- showmap -->
    <script src="~/js/showmap.js"  async defer></script>
    <!-- 异步加载 -->
    <script src="~/js/lanrenzhijia.js" async defer></script>
}

