@charset "UTF-8";
#naviMain {
	width: 100%;
	height: 54px;
	float: left;
	background-color: #1E9FFF !important;
}
#naviCenter {
	width: 800px;
	height: 100%;
	margin: 0 auto;
}
#site-identity {
	margin-left:134px;
}
#site-identity a {
	font-size: 10px;
}
#site-identity strong {
	font-size: 10px;
}
#idt_log {
	width: 500px;
	height: 100%;
	float: left;
}
#idt_log img {
	height: 46px;
	margin-left: 20px;
	margin-top: 3px;
	float:left;
}

#control {
	top: 96px;
	left: 52px;
	width: 28px;
	height: 28px;
	position: fixed;
	cursor: pointer;
	z-index: 10;
}
#menu {
	top: 142px;
	left: 20px;
	width: 50px;
	height: auto;
	position: fixed;
	z-index: 10;
}

.menuItem {
	width: 50px;
	height: 50px;
	background-color: #fff;
	cursor: pointer;
	float: left;
}

.menuItem:hover {
	background-color: #f0f0f0;
}

.menuItem img {
	width: 30px;
	height: 30px;
	margin: 10px;
}

#name {
	top: 70px;
	left: 600px;
	width: 215px;
	height: 24px;
	font-size: 12px;
	text-indent: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-right: none;
	border-radius: 3px 0px 0px 3px;
	position: fixed;
	outline: none;
	z-index: 10;
}

#query {
	top: 70px;
	left: 817px;
	width: 26px;
	height: 26px;
	position: fixed;
	background-color: #fff;
	border: 1px solid #ccc;
	border-left: none;
	cursor: pointer;
	z-index: 10;
}

#query:hover {
	background-color: #f3f3f3;
}

#query img {
	margin: 3px;
}

#result {
	top: 123px;
	left: 249px;
	width: 328px;
	height: 600px;
	background-color: #fff;
	border: 1px solid #ccc;
	position: fixed;
	display: none;
	z-index: 1;
}

#rTitle {
	width: 100%;
	height: 40px;
	color: #888;
	font-size: 18px;
	font-weight: 600;
	text-indent: 90%;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	float: left;
}

#rTitle a:hover {
	cursor: pointer;
	color: #f00;
}

#rValue {
	width: 100%;
	height: 560px;
	overflow-y: scroll;
	float: left;
}

#rValue div {
	width: 100%;
	height: 36px;
	font: 16px simsun;
	text-indent: 36px;
	line-height: 36px;
	border-bottom: 1px solid #ccc;
	background-image: url('../img/定位.png');
	background-position: 6px;
	background-repeat: no-repeat;
	background-color: #fff;
	float: left;
}

#rValue div:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

#property {
	top: 70px;
	right: 20px;
	width: 500px;
	height: 760px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: fixed;
	z-index: 10;
	display: none;
}

#title {
	width: 100%;
	height: 40px;
	font: 18px 宋体;
	font-weight: 600;
	text-indent: 10px;
	line-height: 40px;
	border-bottom: 2px solid #ddd;
	float: left;
}

#title a {
	color: #666;
	font-family: 微软雅黑;
	margin-right: 12px;
	cursor: pointer;
	float: right;
}

#title a:hover {
	color: #f00;
}

#panel {
	width: 100%;
	height: 600px;
	float: left;
}

#panel table {
	width: 100%;
	font: 13px simsun;
	border-bottom: 2px solid #ccc;
	float: left;
}
#InfoTab1 tr {
	height: 20px;
}
.title {
	color: #666;
	text-align: right;
}
.value {
	color: #000;
	text-align: left;
}

#InfoTab2 {
	margin-bottom: 5px;
	border-collapse: collapse;
}

#InfoTab2 tr td{
	height: 30px;
	border: 1px solid #000;
}

#InfoTab2 img {
	max-width: 290px;
	margin: 5px;
}

#imgs {
	width: 100%;
	height: 30px;
	font: 14px simsun;
	text-indent: 20px;
	line-height: 30px;
	float: left;
}
#panel img {
	width: 300px;
}
#localtion {
	left: 130px;
	bottom: 2px;
	width: 600px;
	height: 20px;
	font-size: 12px;
	text-indent: 5px;
	line-height: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	position: fixed;
	z-index: 10;
}
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{line-height:2em;background-color:#ffffff;font-family:arial, helvetica, sans-serif;color:#666666;font-size:12px}
a{color:#666666;text-decoration:none;-webkit-transition-property:color;-moz-transition-property:color;-o-transition-property:color;transition-property:color;-webkit-transition-duration:.2s;-webkit-transition-timing-function:ease-in;-moz-transition-duration:.2s;-moz-transition-timing-function:ease-in;-o-transition-duration:.2s;-o-transition-timing-function:ease-in;transition-duration:.2s;transition-timing-function:ease-in}
/* hc_lnav */
.hc_lnav{z-index:9999;position:relative;}
.hc_lnav .allbtn{z-index:99999;position:relative}
.hc_lnav .allbtn h2{font-size:14px;box-shadow:2px 0px 6px -3px #428000;-webkit-box-shadow:2px 0px 6px -3px #428000;-moz-box-shadow:2px 0px 6px -3px #428000}
.hc_lnav .allbtn h2 a{line-height:36px;background-color:#358000;padding-left:10px;width:180px;display:block;font-family:微软雅黑, 黑体;height:36px;color:#ffffff;font-size:14px;font-weight:normal}
.hc_lnav .allbtn h2 a:hover{background-color:#358000;text-decoration:none}
.hc_lnav .allbtn h2 i{}
.hc_lnav .allbtn h2 strong{}
/*一级导航隐藏*/
.hc_lnav .allbtn ul{z-index:99999;position:absolute;background-color:#fff;height:486px;left:0px;border: 1px solid #ccc;border-radius: 4px;}
body.hc_home .hc_lnav .allbtn ul{display:block}
body.hc_list .hc_lnav .allbtn ul{display:block}
.hc_lnav .allbtn ul li{padding-bottom:7px;zoom:1;clear:both;cursor:default}
.hc_lnav .allbtn ul li .tx{line-height:35px;background-color:#fff;background-repeat:no-repeat;background-position:right center;height:80px;_background-image:none}
.hc_lnav .allbtn ul li .tx a{font-family:微软雅黑, 黑体;color:#666;font-size:12px;-webkit-transition:color 0.1s ease-out 0s;-moz-transition:color 0.1s ease-out 0s;-ms-transition:color 0.1s ease-out 0s;-o-transition:color 0.1s ease-out 0s;transition:color 0.1s ease-out 0s}
.hc_lnav .allbtn ul li .tx a i{margin-left:15px;width:25px;background-position:0px 0px;font-size: 59px;height:25px;text-decoration:none}
.hc_lnav .allbtn ul li dl{zoom:1;color:#ffffff;clear:both;overflow:auto;padding-top:4px}
.hc_lnav .allbtn ul li dl a{line-height:22px;white-space:nowrap;float:left;color:#d9e7ce;margin-left:6px;margin-right:6px;-webkit-transition:color 0.1s ease-out 0s;-moz-transition:color 0.1s ease-out 0s;-ms-transition:color 0.1s ease-out 0s;-o-transition:color 0.1s ease-out 0s;transition:color 0.1s ease-out 0s}
.hc_lnav .allbtn ul li dt{padding-left:10px;width:300px;float:left;padding-top:1px;text-align:center;font-size:15px;color:#1e9fff;}
.hc_lnav .allbtn ul li dd{line-height:22px;width:150px;float:left;padding-top:2px}
/*二级导航隐藏*/
.jspop {width:90px;}
.hc_lnav .allbtn ul li .pop{border-bottom:#599900 2px solid;position:absolute;border-left:medium none;padding-bottom:10px;background-color:#fcfcfc;min-height:800px;padding-left:30px;padding-right:30px;display:none;height:540px;border-top:medium none;top:0px;border-right:#599900 2px solid;padding-top:10px;left:120px;box-shadow:4px 4px 5px -1px #999999;-webkit-box-shadow:4px 4px 5px -1px #999999;-moz-box-shadow:4px 4px 5px -1px #999999;}
.hc_lnav .allbtn ul li .pop h3{display:none;font-size:14px}
.hc_lnav .allbtn ul li .pop dl{padding-bottom:6px;color:#666666;padding-top:6px;}
.hc_lnav .allbtn ul li .pop dl:hover{background-color:#f3f3f3}
.hc_lnav .allbtn ul li .pop dl a{color:#666666;margin-left:12px;margin-right:12px}
.hc_lnav .allbtn ul li .pop dl a.un{color:#a5a5a5}
.hc_lnav .allbtn ul li .pop dt{padding-left:0px;width:100px;}
.hc_lnav .allbtn ul li .pop dd{width:565px;margin-left:-12px;}
.hc_lnav .allbtn ul li .pop .act{width:640px;height:80px;overflow:hidden;padding-top:10px}
.hc_lnav .allbtn:hover ul,.hc_lnav .allbtn ul li .pop:hover{display:block}/*控制一级菜单显示隐藏*/
.hc_lnav .allbtn ul li:hover{background-color:#fcfcfc}
.hc_lnav .allbtn ul li:hover .tx{background-color:#f5f5f5}
.hc_lnav .allbtn ul li:hover .tx a{color:#333333}
.hc_lnav .allbtn ul li:hover .tx a i{background-position:0px -25px}
.hc_lnav .allbtn ul li:hover .pop{display:block;top:0px;left:90px;z-index:12;}/*控制二级菜单显示隐藏*/
.hc_lnav .allbtn ul li:hover .pop dl a.un{color:#a5a5a5;text-decoration:none;z-index:12;}
.hc_lnav .allbtn ul li:hover dl{color:#6e6e6e;z-index:12;}
.hc_lnav .allbtn ul li:hover a{color:#666666;z-index:12;}
.hc_lnav .allbtn ul li:hover a:hover{color:#cd0606;}
.menu_i {margin-top:10px;}
.menu_span {width:100%;text-align:center;}
#l-map {height:100%;width:100%;}
#r-result {width:100%;}
#searchbox {border-radius:2px;width:425px;position:relative;z-index:5;}
#sole-searchbox-content {position:relative;}
.searchbox-content {width:309px;border-radius:2px 0 0 2px;background:#fff;}
#sole-searchbox-content #sole-input {box-sizing:border-box;border:0;border-left:10px solid transparent;border-right:27px solid transparent;line-height:20px;font:18px fangsong;height:38px;color:#333;position:relative;border-radius:2px 0 0 2px;padding:9px 0;}
.searchbox-content .input-clear {cursor:pointer;position:absolute;width:27px;height:38px;top:0;background:url(../img/searchbox_5c0d97d.png) no-repeat 0 -114px #fff;display:none;}
#sole-searchbox-content .input-clear {right:39px;}
.searchbox-content .searchbox-content-common {box-sizing:border-box;float:left;width:270px;height:38px;}
#searchbox #search-button {pointer-events:auto;background:url(../img/searchbox_5c0d97d.png) no-repeat 0 -76px #3385ff;width:57px;height:38px;float:left;border:0;cursor:pointer;border-radius:0 2px 2px 0;box-shadow:1px 2px 1px rgba(0,0,0,.15);padding:0;}
#left-panel {position:absolute;left:250px;top:80px;overflow:hidden;pointer-events:none;}
.searchbox-content:after {font-size:0;zoom:1;clear:both;display:block;height:0px;visibility:hidden;}
#searchbox #searchbox-container {position:relative;z-index:2;pointer-events:auto;width:270px;float:left;box-sizing:border-box;box-shadow:1px 2px 1px rgba(0,0,0,.15);}
#app-right-top {z-index:4;position:absolute;top:20px;right:10px;}
.bottom-split {border-bottom:1px solid #e0e0e0;background:#fff;}
.list {list-style:none;padding:0 12px;}
.list>li {height:40px;line-height:42px;border-bottom:1px dashed #eee;position:relative;text-indent:28px;}
.anchorBL img{display:none!important;}
.BMap_cpyCtrl{display:none!important;}
.on {background:#6b5f5f;color:#fff;}
.lable {cursor:pointer;}
.PathMenu {
	position:absolute;
	right: 0px;
	bottom: 0px;
	width: 60px;
	height: 60px;
}
.PathInner .PathItem {
	position:absolute;
	left: 0px;
	bottom: 0px;
}
.PathInner a {/* position:absolute; */
	display:block;/* overflow:hidden; */
	background-position:center;
	background-repeat:no-repeat;
	z-index:999;
}
.PathInner a .item, .rotate {
	width:100%;
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	overflow:hidden;
	text-align:center;
	vertical-align:middle;
	position:absolute;
}
.PathInner .PathMain {
	z-index:1000;
	position:absolute;
	display:block;/* overflow:hidden; */
	background-position:center;
	background-repeat:no-repeat;
	bottom:36px;
	left:25px;
}
.PathInner .PathMain .Tmain {
	background-image: url(/img/bg-2x.png);
	width: 60px;
	height: 60px;
}
.PathInner .PathMain .Tmain .rotate {
	background-image: url(/img/icon-2x.png);
	-moz-transform: rotate(0deg);
	position:absolute;
	bottom:0;
	left:0;
}
.PathInner .cover {
	width:100%;
	height:100%;
	display:block;
	background:url(/img/bg-hl-2x.png) center no-repeat;
	cursor: pointer;
*filter:alpha(opacity=0);
	filter:alpha(opacity=0)\0;
	opacity:0;
-webkit-transition:opacity .2s ease-out;
-moz-transition:opacity .2s ease-out;
-ms-transition:opacity .2s ease-out;
-o-transition:opacity .2s ease-out;
}
.PathInner .cover:hover {
	opacity:0.2;
*filter:alpha(opacity=20);
	filter:alpha(opacity=20)\0;
}
.PathItem .link {
	position: absolute;
	bottom: 36px;
	left: 25px;
	width: 60px;
	height: 60px;
	background-image: url(/img/bg-item-2x.png);
}
.PathItem .link .item {
	bottom:0;
	left:0;
}
.metaicondetail {
	background:#fff;
	color:#fff;
	border-radius:6px;
	border:1px #333 solid;
	min-width:100px;
	max-width:300px;
	overflow:hidden;
	text-align: center;
	position:absolute;
	display:none;
	top:-115px;
	left:-22px;
}
.metaicondetail .inner {
	border:2px #fff solid;
	border-radius:6px;
	background:#272727;
	font-size:14px;
	padding:5px;
}
.metaicondetail span {
	font-family:candara, arail;
	font-size:18px;
}
.metaicondetail s {
	border-color:#333 transparent transparent;
	border-style: solid dashed dashed;
	border-width:5px;
	clear: both;
	display: inline-block;
	font-size: 0;
	height: 0;
	margin-left:3px;
	overflow: hidden;
	position: absolute;
	right:50%;
	top:44px;
	width:0;
}
.cousline {
	cursor: Crosshair;
}

#tab1 {
	width: 100%;
	font-size: 14px;
	border-collapse: collapse;
	border: 2px solid #666;
}

	#tab1 tr {
		height: 33px;
		border-bottom: 1px solid #666;
	}

		#tab1 tr td {
			border: 1px solid #666;
		}

			#tab1 tr td input {
				width: 100%;
				height: 28px;
				text-indent: 5px;
				border: none;
			}

	#tab1 .select {
		width: 100%;
		height: 30px;
		text-indent: 5px;
		border: none;
	}

#tab2 {
	width: 100%;
	font-size: 14px;
	border: 2px solid #666;
}

#video, #image {
	height: 150px;
	cursor: pointer;
}

#itemMemu {
	float: right;
	width: 100%;
	height: 30px;
	border: 2px solid #666;
	border-bottom: 1px solid #666;
}

	#itemMemu div {
		width: 80px;
		height: 100%;
		font-size: 15px;
		font-weight: 700;
		text-indent: 10px;
		line-height: 30px;
	}

#showItem {
	width: 100%;
	border: 2px solid #666;
	background-color: #F1F1F1;
	border-bottom: 1px solid #666;
	border-top: none;
	overflow-y: scroll;
}

#tab3 {
	width: 100%;
	table-layout: fixed;
	background-color: #F1F1F1;
	color: #1b1b18;
}

	#tab3 thead {
		color: #fff;
		font-size: 1px;
		text-align: center;
		background-color: #1e9fff;
	}

	#tab3 tbody tr {
		height: 25px;
		background-color: #fff;
		cursor: pointer;
	}

		#tab3 tbody tr td {
			font-size: 13px;
			text-indent: 6px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

#remark {
	width: 100%;
	height: 26px;
	font-size: 14px;
	border: 2px solid #666;
	border-top: none;
	text-align: left;
}

	#remark span {
		width: 98px;
		line-height: 26px;
		text-align: right;
		border-right: 1px solid #666;
	}

	#remark input {
		width: 100%;
		height: 24px;
		text-indent: 5px;
		border: none;
	}

#pagebox {
	width: 34px;
	height: 26px;
	text-align: center;
	margin: 20px 0px 20px 812px;
	border: 2px solid #393D49;
	border-radius: 3px 0px 0px 3px;
}

#pagebtn {
	width: 40px;
	height: 32px;
	margin: 20px 0px 20px 0px;
	font-size: 17px;
	font-weight: 700;
	color: #000000;
	background-color: #fff;
	border: 2px solid #393D49;
	border-radius: 0px 3px 3px 0px;
	border-left: none;
}

	#pagebtn:hover {
		color: #999999;
		cursor: pointer;
	}

#control {
	width: 40px;
	height: 40px;
	top: 8%;
	left: 30px;
	position: absolute;
	font-size: 30px;
	color: #ffffff;
	text-indent: 4px;
	line-height: 38px;
	background-color: #AAA;
	border-radius: 40px;
}

#contro2 {
	width: 40px;
	height: 40px;
	top: 45%;
	right: 30px;
	position: absolute;
	font-size: 30px;
	color: #ffffff;
	text-indent: 10px;
	line-height: 38px;
	background-color: #AAA;
	border-radius: 40px;
}
#control:hover, #contro2:hover {cursor: pointer;color: #ffff00;}
.tishi {width: 100%;height: 45px;color: #040404;font-size: 14px;border: 1px solid #666;background: #fff;}
.map23Toolbar {position: absolute;height: 16px;width: 153px;right: 30px;top: 70px;z-index:10;}
.map23Toolbar_main {position: absolute; background: rgba(255, 255, 255, 0.19); width: 172px; height: 16px;}
.map23Toolbar_main_23d {position: absolute; height: 16px;}
.map23Toolbar_main_qh {position: absolute; height: 16px; left: 87px; width: 85px;}
.map23Toolbar_span {font-size: 12px;color:#fc8a58}
#bdmap {height: 100%;width: 100%;background-color: #dadada;position: relative;float: left;}
#map {height: 100%;width:100%;background-color: #dadada;position: relative;float: left;display:none;}
.bntmargin {margin: 5px;}